Checks: "bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-union-access,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-magic-numbers,
  -modernize-use-trailing-return-type,"

WarningsAsErrors: ''
HeaderFilterRegex: ''

CheckOptions:
  - { key: readability-magic-numbers.IgnoredIntegerValues,
      value: 0;1;2;3;4;5;6;7;8;9;10;100;1000;180;360;255 }
  - { key: readability-magic-numbers.IgnorePowersOf2IntegerValues,
      value: 'true' }
  - { key: readability-magic-numbers.IgnoredFloatingPointValues,
      value: 0.25;0.5;0.75;1.0;2.0;3.0;10.0;100.0;1000.0;0.1;0.001;0.0001;-1.0;-2.0;-3.0;180.0;360.0 }